@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
	--color-primary: hsl(172, 67%, 45%);

	--color-dark-cyan: hsl(183, 100%, 15%);
	--color-dark-gray-cyan: hsl(186, 14%, 43%);
	--color-gray-cyan: hsl(184, 14%, 56%);
	--color-light-gray-cyan: hsl(185, 41%, 84%);
	--color-light-cyan: hsl(189, 41%, 97%);
}

html,
h1,
h2,
p,
input,
button {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Space Mono", monospace;
	font-weight: 700;
}
body {
	font-size: 24px;
	background-color: var(--color-light-gray-cyan);
}

.main-title {
	text-align: center;
	text-transform: uppercase;
	color: var(--color-dark-gray-cyan);
	letter-spacing: 7px;
	font-size: 0.75rem;
	margin-top: 13vh;
}

#wrapper {
	background-color: white;
	border-radius: 20px;
	display: flex;
	padding: 25px;
	width: 60vw;
	margin: 7vh auto;
}

#left {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}
#left label {
	display: flex;
	flex-direction: column;
	font-size: 0.75rem;
	color: var(--color-dark-gray-cyan);
	line-height: 1.5rem;
}
#left > div {
	margin: 10px 0 20px;
}

.tip.buttons {
	margin-top: 3px;
	display: flex;
	flex-wrap: wrap;
}
.tip button {
	width: 85px;
	background-color: var(--color-dark-cyan);
	border: none;
	border-radius: 5px;
	padding: 5px 15px;
	color: white;
	font-size: 1rem;
	margin-bottom: 5px;
}

.tip input {
	width: 85px;
	padding: 5px 15px;
	font-size: 0.9rem;
	color: var(--color-dark-cyan);
	margin-top: 3px;
}

input {
	background-color: var(--color-light-cyan);
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	padding: 4px;
}

#right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--color-dark-cyan);
	padding: 30px;
	border-radius: 20px;
}
.textWrap {
	font-size: 0.6rem;
	color: white;
	white-space: nowrap;
}

.textWrap > p {
	color: var(--color-light-gray-cyan);
}

.textWrap ~ p {
	color: var(--color-primary);
	padding-left: 75px;
	padding-bottom: 40px;
	font-size: 2rem;
	line-height: 2rem;
}

.tipAmount,
.totalTip {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 4rem;
	line-height: 1.2rem;
}

#resetBtn {
	background-color: var(--color-primary);
	opacity: 0.5;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	padding: 7px;
	color: var(--color-dark-cyan);
	box-shadow: 0 0 20px 5px #3f3f3f;
	cursor: pointer;
}

/* Removing arrows from input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
/* End of removing */
