@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
	--color-primary: hsl(172, 67%, 45%);

	--color-dark-cyan: hsl(183, 100%, 15%);
	--color-dark-gray-cyan: hsl(186, 14%, 43%);
	--color-gray-cyan: hsl(184, 14%, 56%);
	--color-light-gray-cyan: hsl(185, 41%, 84%);
	--color-light-cyan: hsl(189, 41%, 97%);
}

html,
h1,
h2,
p,
input,
button {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Space Mono", monospace;
	font-weight: 700;
}
body {
	font-size: 24px;
	background-color: var(--color-light-gray-cyan);
}

.container {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -70%);
	max-width: 719px;
	height: 55vh;
}
.main-title {
	text-align: center;
	text-transform: uppercase;
	color: var(--color-dark-gray-cyan);
	letter-spacing: 7px;
	font-size: 0.75rem;
	margin-bottom: 50px;
}

#wrapper {
	background-color: white;
	border-radius: 20px;
	display: flex;
	padding: 25px;
	max-width: 65vw;
}

#left {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}
#left label {
	display: flex;
	flex-direction: column;
	font-size: 0.8rem;
	color: var(--color-dark-gray-cyan);
	line-height: 1.5rem;
}
#left > div {
	margin: 10px 0 20px;
}

.tip .buttons {
	margin-top: 3px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.tip .percent {
	width: 100px;
	background-color: var(--color-dark-cyan);
	border: none;
	border-radius: 5px;
	padding: 7px 15px;
	color: white;
	font-size: 1.25rem;
	margin-bottom: 15px;
	cursor: pointer;
	text-align: center;
}

.tip .percent:hover,
.tip .percent:active {
	background-color: var(--color-primary);
}

.active {
	background-color: var(--color-primary);
}

.tip input {
	width: 100px;
	height: 43px;
	font-size: 1.05rem;
	color: var(--color-dark-cyan);
	margin-top: 3px;
	text-align: center;
}

input {
	background-color: var(--color-light-cyan);
	border: none;
	border-radius: 5px;
	font-size: 1.1rem;
	padding: 5px 10px;
	color: var(--color-dark-cyan);
	text-align: right;
}
input:focus {
	outline-color: var(--color-dark-cyan);
}

#right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--color-dark-cyan);
	padding: 30px;
	border-radius: 20px;
}
.textWrap {
	font-size: 0.6rem;
	color: white;
	white-space: nowrap;
}

.textWrap > p {
	color: var(--color-light-gray-cyan);
}

.textWrap ~ p {
	color: var(--color-primary);
	padding-left: 75px;
	padding-bottom: 40px;
	font-size: 2rem;
	line-height: 2rem;
}

.tipAmount,
.totalTip {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 4rem;
	line-height: 1.2rem;
	max-width: 261px;
}

.tipAmount > p,
.totalTip > p {
	overflow: hidden;
}

#resetBtn {
	background-color: var(--color-primary);
	opacity: 0.5;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	padding: 7px;
	color: var(--color-dark-cyan);

	cursor: pointer;
}
#resetBtn:hover {
	opacity: 1;
	transform: translateY(-1px);
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.dollar {
	position: relative;
	bottom: 2.15rem;
	font-size: 1.25rem;
	padding: 5px 10px;
	color: var(--color-gray-cyan);
	font-weight: 100;
}
::placeholder {
	color: var(--color-gray-cyan);
}

.icon {
	position: relative;
	bottom: 1.9rem;
	width: 1rem;
	height: auto;
	opacity: 0.3;
	padding: 5px 10px;
}

/* Removing arrows from input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
/* End of removing */

@media screen and (max-width: 856px) {
	.container {
		transform: translate(-50%, -50%);
	}

	#wrapper {
		max-width: 90vw;
	}
	.tip .buttons {
		justify-content: space-evenly;
	}
}

@media screen and (max-width: 414px) {
	.container {
		transform: translate(-50%, -45%);
	}

	#wrapper {
		flex-direction: column;
		max-width: 86vw;
		margin: 0;
	}
	.tip .buttons {
		justify-content: space-between;
	}
	.tip .percent {
		width: 47%;
	}
	#left {
		margin-right: 0;
	}
	#left label {
		height: 30px;
	}
	.main-title {
		margin-bottom: 15px;
	}
	#right {
		margin-top: 30px;
	}
	.tip input {
		width: 47%;
		padding-right: 45px;
	}
}
